VITE_FIREBASE_API_KEY=AIzaSyBjDDxMerCsgn9vCpG42L5Qn8IP516f3Bk
VITE_FIREBASE_AUTH_DOMAIN=car-rental-system-f7cd3.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=car-rental-system-f7cd3
VITE_FIREBASE_STORAGE_BUCKET=car-rental-system-f7cd3.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=719713575558
VITE_FIREBASE_APP_ID=1:719713575558:web:741737dfb7a7e47228e707